.App {
  text-align: center;
}

.todo-container {
  padding : 80px 0;
}

#todo-text {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#todo-list {
  padding-top:10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
